## Date Extraction

This was part of the data cleaning process that extracted the date from a single column to year/month/day columns.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# load data
df = pd.read_csv("movies.gz")

In [7]:
# check format of date column
df["release_date"].head()

0    1995-10-30
1    1995-12-15
2    1995-12-22
3    1995-12-22
4    1995-02-10
Name: release_date, dtype: object

In [3]:
# split the date at appropriate character, and append numbers to appropriate lists
split = []
years = []
months = []
days = []

for i in range(len(df["release_date"])):
    try:
        split.append(df["release_date"][i].split("-"))
        years.append(split[i][0])
        months.append(split[i][1])
        days.append(split[i][2])
        
    except AttributeError:
        split.append(np.nan)
        years.append(np.nan)
        months.append(np.nan)
        days.append(np.nan)

In [65]:
# verify that the lists all correspond in length
print(len(split), len(years), len(months), len(days))

46624 46624 46624 46624

In [5]:
# verify everything is in the correct place
print(split[1], years[1], months[1], days[1])

['1995', '12', '15'] 1995 12 15

In [68]:
# convert to series and add back to dataframe
se_year = pd.Series(years)
se_month = pd.Series(months)
se_day = pd.Series(days)

df["release_year"] = se_year.values
df["release_month"] = se_month.values
df["release_day"] = se_day.values

In [ ]:
# delete single date column and save new dataframe
del df["release_date"]
df.to_csv("movie_metadata_flatdate.csv")